[Desktop Entry]
Version=1.0
Name=YouTube Downloader Helper
Comment=Make yt-dlp commands easily
Exec=/usr/local/bin/DownTube
Icon=DownTube
Terminal=true
Type=Application
Categories=Network;Utility;Video;
